<div{{ attributes.addClass('section-container', 'vision25-stack--wide') }}>
  <div class="vision25-toggle-group" data-toggle-group data-toggle-target="{{ target_selector }}">
    <button class="vision25-toggle-button is-active" type="button" data-toggle-value="{{ first_value }}" aria-selected="true">{{ first_label }}</button>
    <button class="vision25-toggle-button" type="button" data-toggle-value="{{ second_value }}" aria-selected="false">{{ second_label }}</button>
  </div>
</div>
